@font-face {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-family: myFont;
    src: url(Baumans-Regular.ttf)
}

:root {
    --primary-color: rgb(247,33,81);
    --accent-color: hsl(215,59%,9%);
    --secondary-color: rgb(193,193,193);
    --bg-color: rgb(252, 250, 250);
    --box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

body {
    margin: 0;
    padding: 0;
    color-scheme: light;
    color: var(--accent-color);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-family: myFont;
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: var(--bg-color);
    overflow: hidden;
}

section {
    /* visual border */
    border: 1px black solid;
    padding: 3em;
}

h1 {
    text-align: center;
}

#logo {
    width: 70px;
    margin-left: 10px;
    margin-top: 5px;
    height: auto;
    border-radius: 10em;
}

.nav-list{
      display: flex;
      gap: 10px;
      padding-top: 25px;
      padding-right: 100px;
     
}

li {
    text-align: left;
    
}

li, a, #cart {
    text-decoration: none;
    list-style: none;
    color: var(--primary-color);
}

#cart {
    margin: 1em 3em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container {
    margin: 7em 2em;

}

.order {
    display: grid;
    grid-template-rows: minmax(2em, 3em);
    justify-items: center;
    /* placeholder img */
    background-image: url("assets/main-banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

button {
    border-radius: 1em;
    border: 2px solid var(--bg-color);
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-size: 1.2em;
}

.menu-items {
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    overflow: hidden;
    /* visual border */
    border: 1px black solid;
    width: 100%;
    padding: 0;    
}

.menu {
    text-align: center;
}

img {
    width: 10em;
    height: 7em;
    border-radius: 5px;
}

/* wavy border for menu */
.wavy {
    
}

#menu-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5em;
    row-gap: 10em;
    justify-items: center;
    padding-top: 8em;
}



