@font-face {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-family: myFont;
    src: url(Baumans-Regular.ttf)
}

:root {
    --primary-color: rgb(247,33,81);
    --accent-color: hsl(215,59%,9%);
    --secondary-color: rgb(193,193,193);
    --bg-color: rgb(252, 250, 250);
    --box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

body {
    margin: 0;
    padding: 0;
    color-scheme: light;
    color: var(--accent-color);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-family: myFont;
    background-color: var(--bg-color);
}

body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #aaa; 
    border-radius: 100em;

  }

  body::-webkit-scrollbar-track {
    background-color: var(--primary-color); 
    border-radius: 1px;
  }

  body::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color: #aaa;
    border-radius: 1px;

  }


header {
    display: flex;
    justify-content: space-between;
    height: 5em;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: var(--accent-color);
    overflow: hidden;
    z-index: 1;
}

#logo {
    width: 70px;
    margin-left: 10px;
    margin-top: 5px;
    height: auto;
    border-radius: 10em;
    border: ridge hsl(215,59%,9%)  1px;
}

.nav-list{
      display: flex;
      gap: 10px;
      padding-top: 25px;
    justify-content: center;    
}

li {
    text-align: left;
    
}

li, a, #cart {
    text-decoration: none;
    list-style: none;
    color: var(--primary-color);
}

li:hover, a:hover, #cart:hover {
    color: var(--bg-color)
}

#cart {
    margin: 1em 3em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* PAGE CONTENT */
section {
    /* visual border */
    /* border: 1px black solid; */
    padding: 3em;
}

.container-fluid {
    margin-top: 5em;
    padding: 0;

}

h1 {
    text-align: center;
}

.order {
    display: grid;
    grid-template-rows: minmax(2em, 3em);
    justify-items: center;
    background: linear-gradient( to left, var(--bg-color), white);
}

.pick-up {
    position: relative;
    width: 8em;
    height: auto;
    left: 7em;
    bottom: 0em;
    border-radius: 100em;
    box-shadow: var(--box-shadow);
}

button {
    border-radius: 1em;
    border: 2px solid var(--bg-color);
    background-color: var(--primary-color);
    color: var(--bg-color);
    font-size: 1.2em;
}

/* store flash */

.new-meal {
    text-align: center;
    padding-bottom: 0;
    /* border: black solid 1px; */

}

.new-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 15em; */
    padding: 2em;
    /* border: black 1px solid; */
    margin: 2em;
}

.new-text {
    /* border: black solid 1px; */
    /* padding-top: 1em; */
    /* margin-right: 20em; */
    text-align: left;
}

.pizza-burg {
    background-image: url(assets/new-food.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1em;
    padding-bottom: 15em;
}

@media (max-width: 500px) {
    .pizza-burg {
        background-size: cover;
    }

    .new-content {
        padding: 0;
        padding-bottom: 2em;
    }

    h3 {
      font-size: 1em;  
    }
}

/* homepage menu */

.full-menu {
    display: flex;
    gap: 15em;
    align-items: center;
    padding: 2em;
}

.menu {
    display: flex;
    justify-content: flex-start;
    gap: 3em;
    overflow-x: scroll;
    /* visual border */
    /* border: 1px black solid; */
    width: 60%;
    padding: 0; 
}

.menu::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #aaa; 
    border-radius: 100em;

  }

  .menu::-webkit-scrollbar-track {
    background-color: var(--primary-color); 
    border-radius: 100em;

  }

  .menu::-webkit-scrollbar-thumb {
    width: 5px;
    height: 5px;
    background-color: #aaa;
    border-radius: 100em;

  }

.menu-items {
    text-align: center;
}

.more {
    margin-top: 2em;
    z-index: 100;
    position: relative;
    padding: 2em;
    right: 5.5em;
}

.more a {
    color: var(--accent-color);
}

.more a:hover {
    color: var(--primary-color);
}

@media (max-width: 780px) {

    .full-menu {
        gap: 1em;
        padding: 0;
    }

    .wavy h2 {
        padding: 0;
        margin: 0;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: visible;
        /* visual border */
        /* border: 1px black solid; */
        margin-left: 2em;
        padding: 0;  

    }

    
    .menu-items {
        text-align: center;
        
    }

    img {
        width: auto;
        height: auto;
    }

    .more {
        padding-top: 59em;
        flex-shrink: inherit;
    }

}

img {
    width: 10em;
    height: 7em;
    border-radius: 5px;
    border: 1px white groove;
}

/* wavy border for menu in index.html */
.wavy {
    background: linear-gradient( to left, var(--bg-color), white);
}

@media (max-width: 600px) {
    .wavy {
        background: white;
        margin-bottom: 0;
        padding-bottom: 0;
    }

}

/* MENU PAGE */

#menu-option {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding-top: 8em;
}

/* FOOD OPTION PAGES */
#menu-container {
    margin-top: 10em;
    padding: 0;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 9em;
}

.item {
    border: 1px solid black;
    border-radius: 10em;
    padding: 5px;
    text-align: center;
}

/* about */
.about {
    margin: 0;
    background: linear-gradient( to right, var(--bg-color), white);
}

.sm-logo {
    float: right;
    border-radius: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 7.5em;
    border: none;
}

@media (max-width: 675px) {
    .sm-logo {
       visibility: hidden;
    }

    .about p {
        /* border: 1px black solid; */
        /* margin-right: 10em; */
        width: 100%;
    }

    .pick-up {
        width: 40%;
    }
}



.about p {
    /* border: 1px black solid; */
    margin-right: 10em;
}

/* footer navbar */
.foot {
    background-color: var(--accent-color);
    padding-bottom: 0.3em;
    padding-left: 1.2em;
    margin: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 4em;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--primary-color);
}

i {
    cursor: pointer;
}

@media (max-width: 280px) {
    .navbar {
        width: 100%;
        padding: 0;
        gap: 1em;
    }

    .more {
        margin-top: 5em;
        margin-left: 3em;
    }

    .pick-up {
        width: 50%;
        margin-right: 5em;
    }

    .new-content {
        margin-left: 1em;
    }

    .pizza-burg {
        padding-right: 5em;
    }

    .new-text {
        padding-right: 1em;
    }
}

/* CAREER PAGE */
#career-section {

}